@CHARSET "UTF-8";

body {
/* background: #f8f8f8; */
}

#login-page {
font-family: 'Lato', sans-serif;
font-size: 18px;
font-weight: 300;
line-height: 20px;
}

#login-page header {
margin: 80px 0 50px;
text-align: center;
}

#login-page form {
width: 640px;
margin: 0 auto;
}

#login-page form .row-fluid {
margin-bottom: 30px;
}
.row-fluid {
width: 100%;
}

.row-fluid:before, .row-fluid:after {
display: table;
content: "";
line-height: 0;
}

.row-fluid [class*="span"]:first-child {
margin-left: 0;
}
.row-fluid .span6 {
width: 48.93617%;
}
.row-fluid [class*="span"] {
display: block;
/* width: 100%; */
min-height: 30px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
float: left;
margin-left: 2.12766%;
}
.span6 {
width: 460px;
}

[class*="span"] {
float: left;
min-height: 1px;
margin-left: 20px;
}

#login-page form .row-fluid .text-field {
padding-bottom: 10px;
border-bottom: 1px solid #cecece;
position:relative;
}

#login-page form .row-fluid .text-field input {
width: 270px;
border-width: 0;
background: none;
font-family: 'Lato', sans-serif;
font-size: 18px;
font-weight: 300;
line-height: 20px;
color: #393c3f;
}

.row-fluid:after {
clear: both;
}

label
{
	font-size:0.85em;
	font-weight:100;
}

#login-page form .row-fluid .text-field i {
margin-right: 5px;
color:#AFAEAE;
}

.mri_signin
{
	width:100%;
	font-weight:100;
	font-size:0.85em;
	text-transform:uppercase;
	padding:10px;
}

.mri_signin_holder
{
width:300px;
margin:0 auto;	
}

.mri_pass
{
	float:left;
}

.mri_signup
{
	float:right;
}

.mri_signin_others>div
{
	font-size:0.85em;
}

.logo
{
	background:url('../img/logo.png');
	background-size: 100%;
width: 200px;
height: 39px;
margin: 25px auto;	
}

.logo_back
{
	background:url('../img/logo_back.png');
	background-size: 100%;
width: 230px;
height: 62px;
margin: 25px auto;	
}

.sign_up_form header
{
margin: 0px auto !important;		
}

.name_inline>div
{
	width:49%;
	float:left;
margin-bottom:10px !important;
}

.name_inline>div .form-control
{
	width:100%;
}

.research .mri_signin_holder
{
	width:100% !important;
}

.navbar-brand img
{
	margin-top:-10px;
	width:60px;
}

.navbar-default
{
	background-color:#FFF;
}

.data_feed_left
{
	width:20%;
	float:left;
	padding:0px 10px;
}

.data_feed_right
{
	border-left:1px solid #eee;
	min-height:500px;
	padding:0px 10px;
	width:80%;
	float:left;
}

.fieldset__wrapper
{
	margin-top:15px;
}

.picker__holder
{
	width:300px !important;
}

.date_submit
{
	cursor:pointer;
	margin-left:5px;
	margin-top:20px;
}

.hello
{
margin-top: 15px;
margin-left: 10px;
display: inline-block;
color: #777;
}

.data_feed_menu li {
position: relative;
display: block;
line-height:35px;
}

.data_feed_menu li a {
display: block;
font-size: 13px;
font-weight: 500;
color: #999;
padding: 4px 20px;
}

.data_feed_menu li.active a {
	background-color:#FFF;
	color:#563d7c;
	}
	
.data_feed_menu li.active a:hover
{
	background-color:#FFF;
	color:#563d7c;	
}	

.data_feed_menu li.active {
font-weight: 700;
color: #563d7c;
background-color: none;
border-left: 2px solid #563d7c;
}

.article_count
{
height: 26px;
line-height: 17px;
margin-left: 5px;
margin-right: 5px;
padding: 5px;
background-color: rgba(233, 233, 233, 0.85);
color: #7A7A7A;
border-radius: 25%;
display: inline-block;
float: right;
margin-top: 5px;
}

.data_feed_menu li a:hover
{
	background-color:#FFF;
	color:#563d7c;
}

.add_new_article
{
	padding-top:20px;
}

.add_new_article label
{
	font-size:100%;
	font-weight:300;
}

.article_date .js__datepicker
{
	cursor:default !important;
	background-color:#FFF !important;
}

.article_editor_label
{
	text-align:right;
	/* margin-top:25px; */
}

.picker__input_top
{
	font-size: 0.90em;
}

.article_list
{
	margin-top:20px;
}

.article_count_top
{
height: 22px;
line-height:12px;
margin-top: 0px;	
}

.article_list .col-a
{
width:5%;	
}
.article_list .col-b .text_style
{
width: 475px !important;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}
.article_list .col-c
{
width:10%;	
}
.article_list .col-d
{
width:15%;	
}
.article_list .col-e
{
width:20%;	
}
.article_list .options a i
{
	font-size:1.35em;
	margin-right:5px;
}

.article_list .col-c .text_style
{
width: 100px !important;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

.article_list .col-d .text_style
{
width: 100px !important;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

.article_list_pagination
{
	width:250px;
	margin:0 auto;
}

.new_user_modal
{
padding: 5px 15px 10px 15px;
}

.new_user_modal h4
{
	text-align:center;
	padding-bottom:10px;
	border-bottom:1px solid #CCC;
}

.add_user_button
{
	margin-top:10px;
}